[Unit]
Description=Auto Update Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/autoupdate.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
