[Unit]
Description=Auto Update Service
After=network-online.target graphical.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 30
ExecStart=/usr/local/bin/autoupdate.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
